.AdminMain {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  .trigger:hover {
    color: var(--color-primary);
  }

  .logo {
    height: 32px;
    background: var(--color-muted);
    margin: 16px;
  }
}
