.CategoryManage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .category-item {
    display: flex;
    width: 500px;
    padding: 10px 0;
    section {
      padding-bottom: 6px;
    }
  }
}
